#1. Import Lib

In [ ]:
import numpy as np
import pandas as pd

#2. Load data

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving Test_set.xlsx to Test_set (1).xlsx
Saving Data_Train.xlsx to Data_Train (1).xlsx

In [ ]:
df1 = pd.read_excel('Data_Train.xlsx')

In [ ]:
# Check the Number of Rows and Columns of data
df1.shape

(10683, 11)

In [ ]:
# Check the basic info of the data
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [ ]:
# Check the statistics info of the data
df1.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [ ]:
dft = pd.read_excel('Test_set.xlsx')

In [ ]:
# Check the Number of Rows and Columns of data
dft.shape

(2671, 10)

In [ ]:
# Check the basic info of the data
dft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          2671 non-null   object
 1   Date_of_Journey  2671 non-null   object
 2   Source           2671 non-null   object
 3   Destination      2671 non-null   object
 4   Route            2671 non-null   object
 5   Dep_Time         2671 non-null   object
 6   Arrival_Time     2671 non-null   object
 7   Duration         2671 non-null   object
 8   Total_Stops      2671 non-null   object
 9   Additional_Info  2671 non-null   object
dtypes: object(10)
memory usage: 208.8+ KB

In [ ]:
# Check the statistics info of the data
dft.describe()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
count,2671,2671,2671,2671,2671,2671,2671,2671,2671,2671
unique,11,44,5,6,100,199,704,320,5,6
top,Jet Airways,9/05/2019,Delhi,Cochin,DEL → BOM → COK,10:00,19:00,2h 50m,1 stop,No info
freq,897,144,1145,1145,624,62,113,122,1431,2148

#3. Data Cleaning

#a. Train data

In [ ]:
# Checking for Null Values
df1.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [ ]:
# Drop Null values Because there is a only 2 Null Values
df1.dropna(inplace=True)

In [ ]:
# Checking for Duplicated Values
df1.duplicated().sum()

220

In [ ]:
# Drop Duplicated Values
df1.drop_duplicates(keep='first',inplace=True)

In [ ]:
# After Removed Duplicated
df1.duplicated().sum()

0

In [ ]:
df1

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [ ]:
# Derive Two New Columns from Date of Journey (Day, Month)
df1['Date_of_Journey'] = pd.to_datetime(df1['Date_of_Journey'], format='%d/%m/%Y')
df1['journey_day'] = df1['Date_of_Journey'].dt.day
df1['journey_month'] = df1['Date_of_Journey'].dt.month

In [ ]:
# Derive New Column of Weekend days
df1['date_is_weekend'] = np.where(df1['Date_of_Journey'].dt.day_name().isin(['Saturday','Sunday']),1,0)

In [ ]:
# Derive Two New Columns from Dep_time (Dep_hour,Dep_min)
df1['Dep_Hour'] = df1['Dep_Time'].apply(lambda x: int(x.split(':')[0]))
df1['Dep_Min'] = df1['Dep_Time'].apply(lambda x: int(x.split(':')[1]))

In [ ]:
# Chuyển đổi cột Duration thành đối tượng thời gian
df1['Duration'] = pd.to_timedelta(df1['Duration'])

# Chuyển đổi thành giây
df1['DurationInSeconds'] = df1['Duration'].dt.total_seconds()
df1 = df1.drop('Duration', axis = 1)

In [ ]:
# Converting String to Integer

# Method 1:
# df = df.replace({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4})

#Method 2:
from sklearn.preprocessing import OrdinalEncoder

# Convert String to Integer Using Ordinal Encoder Because that is a ordering column
oec = OrdinalEncoder(categories=[['non-stop', '1 stop', '2 stops', '3 stops', '4 stops']],dtype=int)

stops = oec.fit_transform(np.array(df1['Total_Stops']).reshape(-1,1))

df1['Total_Stops'] = stops

In [ ]:
# Derive Two New Columns from Arrival_time (Arrival_hour,Arrival_min)

# Method 1:
# pd.to_datetime(df['Arrival_Time']).dt.hour

# Method 2:
df1['Arrival_Hour'] = df1['Arrival_Time'].apply(lambda x: int(x.split(':')[0]))
df1['Arrival_Min'] = df1['Arrival_Time'].apply(lambda x: int(x.split(':')[1].split()[0]))

In [ ]:
# Drop Route,Date_of_journey,Dep_Time,Arrival_Time,Durations,Additional Info(Not Important) Columns
df1 = df1.drop(['Route','Date_of_Journey','Dep_Time','Arrival_Time','Additional_Info'],axis='columns')

In [ ]:
df1

,Airline,Source,Destination,Total_Stops,Price,journey_day,journey_month,date_is_weekend,Dep_Hour,Dep_Min,DurationInSeconds,Arrival_Hour,Arrival_Min
0,IndiGo,Banglore,New Delhi,0,3897,24,3,1,22,20,10200.0,1,10
1,Air India,Kolkata,Banglore,2,7662,1,5,0,5,50,26700.0,13,15
2,Jet Airways,Delhi,Cochin,2,13882,9,6,1,9,25,68400.0,4,25
3,IndiGo,Kolkata,Banglore,1,6218,12,5,1,18,5,19500.0,23,30
4,IndiGo,Banglore,New Delhi,1,13302,1,3,0,16,50,17100.0,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,0,4107,9,4,0,19,55,9000.0,22,25
10679,Air India,Kolkata,Banglore,0,4145,27,4,1,20,45,9300.0,23,20
10680,Jet Airways,Banglore,Delhi,0,7229,27,4,1,8,20,10800.0,11,20
10681,Vistara,Banglore,New Delhi,0,12648,1,3,0,11,30,9600.0,14,10
10682,Air India,Delhi,Cochin,2,11753,9,5,0,10,55,30000.0,19,15

In [ ]:
def remove_airline_price_outliers(df):
    df_out = pd.DataFrame()
    for airline,airline_df in df.groupby('Airline'):
        for source,source_df in airline_df.groupby('Source'):
            for destination,destination_df in source_df.groupby('Destination'):
                
                m = np.mean(destination_df['Price'])
                st = np.std(destination_df['Price'])
                
                reduced_df = destination_df[(destination_df['Price'] >=(m-st)) & (destination_df['Price'] <= (m+st))]
                
                df_out = pd.concat([df_out,reduced_df],ignore_index=True)
        
    return df_out
        
df2 = remove_airline_price_outliers(df1)

In [ ]:
# Shape After Remove Outliers
df1.shape,df2.shape

((10462, 13), (7884, 13))

In [ ]:
 #Convert Airlines,Source and Destinations to Numerical Using Encoding
dummies = pd.get_dummies(df2[['Airline','Source','Destination']],drop_first=True)

In [ ]:
# fetch columns name for our final Dataset
cols = list(df2.columns) + list(dummies.columns)
cols

['Airline',
 'Source',
 'Destination',
 'Total_Stops',
 'Price',
 'journey_day',
 'journey_month',
 'date_is_weekend',
 'Dep_Hour',
 'Dep_Min',
 'DurationInSeconds',
 'Arrival_Hour',
 'Arrival_Min',
 'Airline_Air India',
 'Airline_GoAir',
 'Airline_IndiGo',
 'Airline_Jet Airways',
 'Airline_Jet Airways Business',
 'Airline_Multiple carriers',
 'Airline_Multiple carriers Premium economy',
 'Airline_SpiceJet',
 'Airline_Trujet',
 'Airline_Vistara',
 'Airline_Vistara Premium economy',
 'Source_Chennai',
 'Source_Delhi',
 'Source_Kolkata',
 'Source_Mumbai',
 'Destination_Cochin',
 'Destination_Delhi',
 'Destination_Hyderabad',
 'Destination_Kolkata',
 'Destination_New Delhi']

In [ ]:
# Now Concat Dummies of Categorical Variable to Real DataFrame
df3 = pd.concat([df2,dummies],ignore_index=True,axis=1)
df3.columns = cols

In [ ]:
final_df = df3.drop(['Airline','Source','Destination'],axis=1)

In [ ]:
final_df.sample(5)

,Total_Stops,Price,journey_day,journey_month,date_is_weekend,Dep_Hour,Dep_Min,DurationInSeconds,Arrival_Hour,Arrival_Min,...,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
1387,0,3625,1,5,0,13,55,5400.0,15,25,...,0,0,0,0,1,0,0,1,0,0
7881,0,5969,6,4,1,11,30,10200.0,14,20,...,1,0,0,0,0,0,1,0,0,0
2453,1,6674,9,3,1,7,35,30900.0,16,10,...,0,0,1,0,0,1,0,0,0,0
3704,1,12284,18,3,0,5,45,18000.0,10,45,...,0,0,0,0,0,0,0,0,0,1
253,0,4107,21,5,0,22,50,9000.0,1,20,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
# Shape of Our Final Dataset
final_df.shape

(7884, 30)

In [ ]:
final_df.corr()['Price'].sort_values(ascending=False)

Price                                        1.000000
Total_Stops                                  0.687085
DurationInSeconds                            0.624226
Airline_Jet Airways                          0.531268
Destination_Cochin                           0.352125
Source_Delhi                                 0.352125
Airline_Jet Airways Business                 0.268282
Destination_New Delhi                        0.202865
Airline_Multiple carriers                    0.175970
Airline_Air India                            0.096099
Arrival_Hour                                 0.054170
Airline_Multiple carriers Premium economy    0.020228
Dep_Hour                                     0.014681
Source_Kolkata                               0.009341
Airline_Vistara Premium economy              0.002935
date_is_weekend                              0.002811
Airline_Trujet                              -0.012297
journey_month                               -0.021623
Airline_Vistara                             -0.062705
Dep_Min                                     -0.069517
journey_day                                 -0.085804
Airline_GoAir                               -0.112609
Arrival_Min                                 -0.150988
Source_Chennai                              -0.229894
Destination_Kolkata                         -0.229894
Destination_Delhi                           -0.317735
Source_Mumbai                               -0.325675
Destination_Hyderabad                       -0.325675
Airline_SpiceJet                            -0.361101
Airline_IndiGo                              -0.434380
Name: Price, dtype: float64

#b. Test set

In [ ]:
# Checking for Null Values
dft.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [ ]:
# Checking for Duplicated Values
dft.duplicated().sum()

26

In [ ]:
# Drop Duplicated Values
dft.drop_duplicates(keep='first',inplace=True)

In [ ]:
# After Removed Duplicated
dft.duplicated().sum()

0

In [ ]:
# Derive Two New Columns from Date of Journey (Day, Month)
dft['Date_of_Journey'] = pd.to_datetime(dft['Date_of_Journey'], format='%d/%m/%Y')
dft['journey_day'] = dft['Date_of_Journey'].dt.day
dft['journey_month'] = dft['Date_of_Journey'].dt.month

In [ ]:
# Derive New Column of Weekend days
dft['date_is_weekend'] = np.where(dft['Date_of_Journey'].dt.day_name().isin(['Saturday','Sunday']),1,0)

In [ ]:
# Derive Two New Columns from Dep_time (Dep_hour,Dep_min)
dft['Dep_Hour'] = dft['Dep_Time'].apply(lambda x: int(x.split(':')[0]))
dft['Dep_Min'] = dft['Dep_Time'].apply(lambda x: int(x.split(':')[1]))

In [ ]:
# Chuyển đổi cột Duration thành đối tượng thời gian
dft['Duration'] = pd.to_timedelta(dft['Duration'])

# Chuyển đổi thành giây
dft['DurationInSeconds'] = dft['Duration'].dt.total_seconds()
dft = dft.drop('Duration', axis = 1)

In [ ]:
# Converting String to Integer

from sklearn.preprocessing import OrdinalEncoder

# Convert String to Integer Using Ordinal Encoder Because that is a ordering column
oec = OrdinalEncoder(categories=[['non-stop', '1 stop', '2 stops', '3 stops', '4 stops']],dtype=int)

stops = oec.fit_transform(np.array(dft['Total_Stops']).reshape(-1,1))

dft['Total_Stops'] = stops

In [ ]:
# Derive Two New Columns from Arrival_time (Arrival_hour,Arrival_min)

dft['Arrival_Hour'] = dft['Arrival_Time'].apply(lambda x: int(x.split(':')[0]))
dft['Arrival_Min'] = dft['Arrival_Time'].apply(lambda x: int(x.split(':')[1].split()[0]))

In [ ]:
# Drop Route,Date_of_journey,Dep_Time,Arrival_Time,Durations,Additional Info(Not Important) Columns
dft = dft.drop(['Route','Date_of_Journey','Dep_Time','Arrival_Time','Additional_Info'],axis='columns')

In [ ]:
#Convert Airlines,Source and Destinations to Numerical Using Encoding
dummies = pd.get_dummies(dft[['Airline','Source','Destination']],drop_first=True)

In [ ]:
# fetch columns name for our final Dataset
cols = list(dft.columns) + list(dummies.columns)
cols

['Airline',
 'Source',
 'Destination',
 'Total_Stops',
 'journey_day',
 'journey_month',
 'date_is_weekend',
 'Dep_Hour',
 'Dep_Min',
 'DurationInSeconds',
 'Arrival_Hour',
 'Arrival_Min',
 'Airline_Air India',
 'Airline_GoAir',
 'Airline_IndiGo',
 'Airline_Jet Airways',
 'Airline_Jet Airways Business',
 'Airline_Multiple carriers',
 'Airline_Multiple carriers Premium economy',
 'Airline_SpiceJet',
 'Airline_Vistara',
 'Airline_Vistara Premium economy',
 'Source_Chennai',
 'Source_Delhi',
 'Source_Kolkata',
 'Source_Mumbai',
 'Destination_Cochin',
 'Destination_Delhi',
 'Destination_Hyderabad',
 'Destination_Kolkata',
 'Destination_New Delhi']

In [ ]:
# Now Concat Dummies of Categorical Variable to Real DataFrame
dft2 = pd.concat([dft,dummies],ignore_index=True,axis=1)
dft2.columns = cols

In [ ]:
final_dft = dft2.drop(['Airline','Source','Destination'],axis=1)

In [ ]:
final_dft

,Total_Stops,journey_day,journey_month,date_is_weekend,Dep_Hour,Dep_Min,DurationInSeconds,Arrival_Hour,Arrival_Min,Airline_Air India,...,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,1,6,6,0,17,30,39300.0,4,25,0,...,0,0,1,0,0,1,0,0,0,0
1,1,12,5,1,6,20,14400.0,10,20,0,...,0,0,0,1,0,0,0,0,0,0
2,1,21,5,0,19,15,85500.0,19,0,0,...,0,0,1,0,0,1,0,0,0,0
3,1,21,5,0,8,0,46800.0,21,0,0,...,0,0,1,0,0,1,0,0,0,0
4,0,24,6,0,23,55,10200.0,2,45,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,1,6,6,0,20,30,86100.0,20,25,1,...,0,0,0,1,0,0,0,0,0,0
2667,0,27,3,0,14,20,9300.0,16,55,0,...,0,0,0,1,0,0,0,0,0,0
2668,1,6,3,0,21,50,23700.0,4,25,0,...,0,0,1,0,0,1,0,0,0,0
2669,1,6,3,0,4,0,54900.0,19,15,1,...,0,0,1,0,0,1,0,0,0,0
2670,1,15,6,1,4,55,51600.0,19,15,0,...,0,0,1,0,0,1,0,0,0,0

In [ ]:
# Shape of Our Final Dataset
final_dft.shape

(2645, 28)

#4. Use machine learning algorithm: Random forest, Linear Regression, Decision Tree

#a. Decision Tree

In [ ]:
from sklearn.model_selection import train_test_split,ShuffleSplit,cross_val_score,GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression

In [ ]:
# Extracting Our Independent and Dependent Variables
X = final_df.drop('Price',axis=1)
y = final_df['Price']

In [ ]:
# Train Test Split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
X_train.shape

(6307, 29)

In [ ]:
# Searching Best Model Using GridSeacrhCV

def find_best_model(X,y):
    algos = {
        'linear_regression':{
            'model':LinearRegression(),
            'params':{
            }
        },
        'random_forest':{
            'model':RandomForestRegressor(),
            'params':{
                'n_estimators':range(100,400,100),
                'max_depth':[10,20,30,40,50],
                # 'min_samples_split':range(2,10,2),
                # 'min_samples_leaf':range(1,10,2)
            }
        },
        'decision_tree':{
            'model':DecisionTreeRegressor(),
            'params':{
                'splitter':['best','random'],
                'max_depth':[10,20,30],
                'min_samples_split':range(2,20,2),
                'min_samples_leaf':range(1,10,2)
             }
        }     
    }
    
    scores = []
    
    cv = ShuffleSplit(n_splits=5,random_state=0,test_size=0.2)
    
    for model_name,config in algos.items():
        gs = GridSearchCV(config['model'],config['params'],cv=cv,return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'Model Name':model_name,
            'Best Score':gs.best_score_,
            'Best Params':gs.best_params_
        })
        
    return pd.DataFrame(scores)

In [ ]:
# Find best scores for all Models
find_best_model(X,y)

,Model Name,Best Score,Best Params
0,linear_regression,0.812946,{}
1,random_forest,0.856424,"{'max_depth': 10, 'n_estimators': 100}"
2,decision_tree,0.889119,"{'max_depth': 20, 'min_samples_leaf': 1, 'min_..."

In [ ]:
# Build Model
model = DecisionTreeRegressor(max_depth=30,min_samples_leaf=1,min_samples_split=18,splitter='random') 

# Model Training
model.fit(X_train,y_train)

print(model.score(X_test,y_test))
print(model.score(X_test,y_test))

0.8950071992987259
0.8950071992987259

In [ ]:
# Prediction on Train Data
y_train_pred = model.predict(X_train)

# Prediction on Test Data
y_test_pred = model.predict(X_test)

Model Evaluation

In [ ]:
# import Libraries
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error

# function for model evaluation
def model_evaluation(y_actual,y_pred):
  r2 = r2_score(y_actual,y_pred)
  mae = mean_absolute_error(y_actual,y_pred)
  mse = mean_squared_error(y_actual,y_pred)
  rmse = np.sqrt(mean_squared_error(y_actual,y_pred))
  return pd.Series({'r2_score':r2,'mse':mse,'mae':mae,'rmse':rmse})

In [ ]:
# Scores on Train Data
train_score = model_evaluation(y_train,y_train_pred)

# Scores on Test Data
test_score = model_evaluation(y_test,y_test_pred)

In [ ]:
# Making Scorecard of Train and Test Data
scorecard = pd.concat([train_score,test_score],axis=1)
scorecard.columns = ['Train Data','Test Data']
scorecard

            Train Data     Test Data
r2_score  9.290612e-01  8.950072e-01
mse       1.091260e+06  1.449732e+06
mae       6.458457e+02  7.640753e+02
rmse      1.044634e+03  1.204048e+03

In [ ]:
# Crossvalidation of Entire Dataset

# Making 10 Folds of Our Data and Taking Test Size of 20%
cv = ShuffleSplit(n_splits=10,test_size=0.2,random_state=42)

# Applying Cross Validation
cross_val_score(model,X,y,scoring='r2',cv=cv).mean()

0.8844276054740424

#b. Linear Regression

In [ ]:
# Build Model
model = LinearRegression() 

# Model Training
model.fit(X_train,y_train)

print(model.score(X_test,y_test))
print(model.score(X_test,y_test))

0.7961928313218198
0.7961928313218198

In [ ]:
# Prediction on Train Data
y_train_pred = model.predict(X_train)

# Prediction on Test Data
y_test_pred = model.predict(X_test)

Model Evaluation

In [ ]:
# import Libraries
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error

# function for model evaluation
def model_evaluation(y_actual,y_pred):
  r2 = r2_score(y_actual,y_pred)
  mae = mean_absolute_error(y_actual,y_pred)
  mse = mean_squared_error(y_actual,y_pred)
  rmse = np.sqrt(mean_squared_error(y_actual,y_pred))
  return pd.Series({'r2_score':r2,'mse':mse,'mae':mae,'rmse':rmse})

In [ ]:
# Scores on Train Data
train_score = model_evaluation(y_train,y_train_pred)

# Scores on Test Data
test_score = model_evaluation(y_test,y_test_pred)

In [ ]:
# Making Scorecard of Train and Test Data
scorecard = pd.concat([train_score,test_score],axis=1)
scorecard.columns = ['Train Data','Test Data']
scorecard

            Train Data     Test Data
r2_score  8.206415e-01  7.961928e-01
mse       2.759092e+06  2.814153e+06
mae       1.242725e+03  1.237326e+03
rmse      1.661051e+03  1.677544e+03

In [ ]:
# Crossvalidation of Entire Dataset

# Making 10 Folds of Our Data and Taking Test Size of 20%
cv = ShuffleSplit(n_splits=10,test_size=0.2,random_state=42)

# Applying Cross Validation
cross_val_score(model,X,y,scoring='r2',cv=cv).mean()

0.81859419769438

#c. Random Forrest

In [ ]:
# Build Model
model = RandomForestRegressor(max_depth= 10, n_estimators= 300) 

# Model Training
model.fit(X_train,y_train)

print(model.score(X_test,y_test))
print(model.score(X_test,y_test))

0.8928408481930468
0.8928408481930468

In [ ]:
# Prediction on Train Data
y_train_pred = model.predict(X_train)

# Prediction on Test Data
y_test_pred = model.predict(X_test)

Model Evaluation

In [ ]:
# import Libraries
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error

# function for model evaluation
def model_evaluation(y_actual,y_pred):
  r2 = r2_score(y_actual,y_pred)
  mae = mean_absolute_error(y_actual,y_pred)
  mse = mean_squared_error(y_actual,y_pred)
  rmse = np.sqrt(mean_squared_error(y_actual,y_pred))
  return pd.Series({'r2_score':r2,'mse':mse,'mae':mae,'rmse':rmse})

In [ ]:
# Scores on Train Data
train_score = model_evaluation(y_train,y_train_pred)

# Scores on Test Data
test_score = model_evaluation(y_test,y_test_pred)

In [ ]:
# Making Scorecard of Train and Test Data
scorecard = pd.concat([train_score,test_score],axis=1)
scorecard.columns = ['Train Data','Test Data']
scorecard

            Train Data     Test Data
r2_score  9.250328e-01  8.928408e-01
mse       1.153228e+06  1.479645e+06
mae       7.378502e+02  8.455272e+02
rmse      1.073885e+03  1.216406e+03

In [ ]:
# Crossvalidation of Entire Dataset

# Making 10 Folds of Our Data and Taking Test Size of 20%
cv = ShuffleSplit(n_splits=10,test_size=0.2,random_state=42)

# Applying Cross Validation
cross_val_score(model,X,y,scoring='r2',cv=cv).mean()

0.8444917331223559